NEXT_PUBLIC_SUPABASE_URL=https://mpjxbqqtvekmmfcozfxn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wanhicXF0dmVrbW1mY296ZnhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwNzkzNDYsImV4cCI6MjA3NzY1NTM0Nn0.Ycjr-gWKKTLDDZAl1Sq33E2p3I9eakI4L6id9AF1GLw
